// 색상 ------------------------------------------------------------
$primary-color: #485c11;
$secondary-color: #929292;
$background-light: #dfecc6;
$text-gray: #6f6f6f;

// 크기 ------------------------------------------------------------
$card-width: 460px;
$gap: 10px;

// 브레이크포인트 ------------------------------------------------------------
$breakpoint-mobile: 768px;
