@import '_reset.scss'; // 리셋
@import '_visual.scss'; // 비주얼 섹션
@import '_variables.scss'; // 변수


* {
  font-size: 14px;
}

video {
  width: 100%;
  height: 100%;
}

button {
  word-break: keep-all;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

// 적응형 
.pcContainer {
  min-width: 1100px;
}

.mobileContainer {
  max-width: 430px;
  margin: 0 auto;
}

// 내부 컨테이너
.container {
  max-width: 892px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

