@import '@/styles/_variables.scss';
.button {
  background-color: transparent;
  padding: 0 21px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.primary {
  background-color: $primary-color;
  border-radius: 60px;
  color: #ffffff;
  padding: 0 21px;
  line-height: 40px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.tabItem {
  position: relative;
  font-size: 22px;
  background: unset;
  color: #929292;
  border-radius: 0;
  border-bottom: solid 1px #929292;
  padding: 23px 0;
  margin-bottom: 80px;
  cursor: pointer;
  border: none;
  transition: color 0.2s;

  &:hover {
    color: #6f6f6f;
  }

  &.active {
    color: $primary-color;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      content: '';
      border-bottom: solid 3px $primary-color;
    }
  }
}

.sliderDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px $primary-color;
  padding: 0;
  margin-right: 6px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $primary-color;
  }

  &.active {
    background-color: $primary-color;
  }
}

.langBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background-color: transparent !important;
  font-size: 13px;
  color: #6f6f6f;
  line-height: 1.4;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.2s;

  &:hover {
    color: $primary-color;
  }
}
