.header {
  padding: 0 24px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;

  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  height: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  nav {
    display: flex;
    align-items: center;
    gap: 27px;
    padding: 20px 24px;
  }

  .leftInner {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .rightInner {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.headerMobile {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  .menu {
    padding:0;
  }  
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 1/2;
  height: 100dvh;
  width: 100dvw;
  max-width: 430px;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 20px 32px;
  transition: all 0.3s ease-in-out;
  nav{
  display: flex;
  flex-direction: column;
    a {
        height: 52px;
        padding: 0 18px;
        line-height: 52px;
    }
    .menuBold{
      font-weight: 700;
    }
  }
   .langSelect{
    padding:30px 0;
    
  }
}

.activeScroll{
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
}