.tabsContainer {
  .tabLabel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: calc(100% - 32px);
    max-width: 702px;
    margin: 0 auto;
  }
  .tabContent {
    width: calc(100% - 32px);
    max-width: 892px;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 892 / 620;
    border-radius: 30px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
