@import '@/styles/variables';

.cardSection {
  padding: 130px 0;
  background-color: #dfecc6;
}
.cardSliderWrap {
  position: relative;
  padding-left: 200px;
  overflow: hidden;
  width: 100%;
  @media screen and (max-width: $breakpoint-mobile) {
    padding-left: 46px;
  }
}

.cardSlider {
  display: flex;
  gap: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
  &Nav {
    text-align: center;
    margin-top: 40px;
  }
}

.cardItem {
  border-radius: 30px;
  border: solid 1px #fff;
  background: #fff;
  overflow: hidden;
  min-width: 460px;
  min-height: 587px;
  @media screen and (max-width: $breakpoint-mobile) {
    min-width: 230px;
    min-height: auto;
  }
  &Img {
    width: 100%;
    height: 436px;
    overflow: hidden;
    @media screen and (max-width: $breakpoint-mobile) {
      height: 218px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &Desc {
    padding: 35px 30px;
    text-align: center;
    h3 {
      font-weight: 700;
      font-style: Bold;
      font-size: 22px;
      letter-spacing: -4%;
      text-align: center;
      margin-bottom: 8px;
      display: inline-block;
    }
    p {
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.5%;
      text-align: center;
    }
  }
}
